//----  Vars

//---- Show baseline ----//
$show-baseline: true; // boolean

//---- Base typography ----//
$base-font-size:    14px;
$base-font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-line-height:  $base-font-size * 1.5;

//---- Base heading sizes ----//
$h1-size: 36px;
$h2-size: 30px;
$h3-size: 24px;
$h4-size: 20px;
$h5-size: 18px;
$h6-size: 16px;

//---- Base colours ----//
$base-text-color:       #333;
$base-background-color: #FFF;
$base-anchor-color:     #333;

//---- Base margins/gutters ----//
$base-margin-bottom: $base-line-height;
$base-gutter: 21px; // change

//---- Z-index ----//
$zIndex-1--something:  1;
$zIndex-1--another:    1;
$zIndex-2--modal:      2;

//---- Brand colors ----//
$brand-color__green--primary:   #0F0;
$brand-color__green--secondary: lighten($brand-color__green--primary, 10%);
$brand-color__green--tertiary:  lighten($brand-color__green--primary, 20%);

//---- Buttons ----//
$button-text-color:       #FFF;
$button-color:            #000;
$button-color--primary:   #00F;
$button-color--secondary: #0F0;

$button-cta--primary: #F00;

//---- Alerts ----//
$alert-bg--success: green;
$alert-bg--info:    cyan;
$alert-bg--warning: orange;
$alert-bg--error:   red;

//---- Social Media ----//
$color--facebook:   #4c66a4;  
$color--pinterest:  #cb2027;
$color--twitter:    #2fc2ef;