//----  Helpers


// State ----------
.is-hidden {
  display: none;
}

.is-active {
  display: block;
}

// Float ----------
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-none {
  float: none;
}

// Alignment ----------
.align-center {
  display: block;
  margin: {
    left: auto;
    right: auto;
  }
}

// center element with unknown or % width and height.
// parent element requires `position: relative`
.center-unknown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}