//----  Mixins

// e.g. @include opacity(background-color, #333, 0.5);
@mixin opacity($property, $color, $opacity) {
  #{$property}: $color; // Fallback
  #{$property}: rgba($color, $opacity);
}

// e.g. @include font-size(20px);
@mixin font-size($font-size, $line-height: true) {
  font-size: $font-size;
  font-size: ($font-size / $base-font-size) * 1rem;

  @if $line-height == true {
    line-height: ceil($font-size / $base-line-height) * ($base-line-height / $font-size);
  }

}