//----  Theme

//---- Example, do not use ----//
// Move to /themes/_theme.scss ?

// assign colors to vars. Colors should be defined in settings/_vars.scss
$red:   #ff0000;
$green: #008000;
$blue:  #0000ff;

// create colors array
$colors: $red, $green, $blue;

// loop through each item in the array
@each $color in $colors {
  .item-#{$color} {
    color: $color;
  }
  
  .item2 {
    color: $color;
  }
  
}