//----  Alerts

.alert {
  padding: 10px;
  border-radius: 3px;
  color: black;
}

.alert--success {
  background-color: $alert-bg--success;
}

.alert--info {
  background-color: $alert-bg--info;
}

.alert--warning {
  background-color: $alert-bg--warning;
}

.alert--error {
  background-color: $alert-bg--error;
}