//----  Buttons

// Buttons
//
// A majority of buttons in the site are built from the same base class.
//
// --primary        - Indicate that the button is the primary feature of this form.
// -cta-primary     - Indicate that the button is the primary call to action button.
//
// Markup:
// <button class="button button{$modifiers}">Button Element</button>
//
// Styleguide 1

.button {
  background-color: $button-color;
  border: none;
  color: $button-text-color;
  display: inline-block;
  padding: 6px;
  text-align: center;
  vertical-align: middle;

  > a {
    color: $button-text-color;
  }

}

.button--primary {
  background-color: $button-color--primary;
}

// call to action button
.button-cta--primary {
  background-color: $button-cta--primary;
}