//----  Forms

input[type="text"], input[type="password"], input[type="email"],
textarea, select {
  border: 1px solid #CCC;
  display: block;
  margin-bottom: $base-margin-bottom;
  max-width: 100%;
  outline: none;
  padding: 5px;
  width: 210px;
}

label, legend {
  display: block;
  font-weight: bold;
  padding-left: 0;
}

label span,
legend span {
  font-weight: normal;
}

select {
  width: 220px;
}

fieldset {
  border: none;
  padding: 0;
}