//----  Lists

.list-inline {
  list-style: none;
  margin: 0;
  padding: 0;
  // column-count: 4
}

  .item-inline__item {
    display: block;
  }

.list-bare {
  list-style: none;
  margin: 0;
  padding: 0;
}