//----  Media

.media,
%media {
  display: block;
  border: 1px solid orange;
  padding: $base-line-height;
}

  .media__img {
    float: left;
    margin-right: $base-gutter;
  }

  .media__body {
    overflow: hidden;
    
    > :last-child {
      margin-bottom: 0;
    }
  }