//----  Modal

.modal {
  position: absolute;
  top: 50px;
  left: 50%;
  width: 70%;
  max-width: 700px;
  background-color: #fff;
  border: 1px solid #aaa;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6);
  -webkit-transform: translate(-50%, 0);
  transform: traslate(-50%, 0);
}