//----  Nav

// unordered list
.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

  .nav__item {
    display: inline-block;
  }

  .nav__link {
    display: block;
  }

// unordered list
.nav-table-layout { // extends tabs?. switch to flexbox?
  display: table;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

  .nav-table-layout__item { // ul > li
    display: table-cell;    
  }

  .nav-table-layout__link { // ul > li > a
    display: block;
  }

.nav-primary {}