//----  Tables

.table {
  table-layout: fixed;

  th {
    background-color: black;
    color: white;
    text-align: left;
  }

  th, td {
    border: 0;
    padding: 5px;
  }

}

.table--bordered, {
  &, th, td {
    border: 1px solid black;
  }

}

.table--striped {

  tr:nth-child(even) {
    background-color: silver;
  }

}