//----  Normalise

.tabs
%tabs { // use on unordered list ul
  margin: 0;
  padding: 0;
  list-style: none;
  display: table;
  table-layout: fixed;
  width: 100%;
}

  .tabs__item { // ul li
    display: table-cell;
  }

  .tabs__link { // ul li a
    display: block;
  }