//----  Normalise

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: $base-font-size / 16px + em;
  font-family: $base-font-family;
  line-height: $base-line-height / $base-font-size;
  background-color: $base-background-color;
  color: $base-text-color;
  overflow-y: scroll; // always show scrollbars, prevent awark jump
  min-height: 100%;
  -webkit-font-smoothing: antialiased; // OS consistency for those with non-rendering text using sub-pixel anti-aliasing.

  // Shows lines for vertical rhythm
  @if $show-baseline == true {
    $baseline-size: strip-units($base-line-height);
    background-image: url(http://basehold.it/i/#{$baseline-size});
  }

}

body {
  margin: 0;
  max-width: 960px; // temp
  margin: 0 auto; // temp
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

a {
  background: transparent;
  color: $base-anchor-color;
  text-decoration: none;

  &:active,
  &:hover {
  outline: 0;
  }

  &:not([href]) {
    color: inherit;
  }

}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

img {
  border: none;
}

img,
video {
  max-width: 100%;
}

// Address `overflow` set to `hidden` in IE 8/9/10/11.
button {
  overflow: visible;
}

button,
input[type="submit"] {
  cursor: pointer;
}

// Correct font properties not being inherited.
// Address margins set differently in Firefox 4+, Safari, and Chrome.
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}

hr {
  background-color: $base-text-color;
  border: 0;
  color:$base-text-color;
  height: 1px;
}

// Remove default vertical scrollbar in IE 8/9/10/11.
textarea {
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

// 1. Google Maps breaks if `max-width: 100%`
// 2. If image `width` and/or `height` defined, let’s not make the image fluid
.gm-style img, // [1]
img[width], img[height] { // [2]
  max-width: none;
}

// Single direction margin
h1, h2, h3, h4, h5, h6, hgroup,
p, figure,
pre, table, fieldset, hr,
button,
.header, .media, .alert { // .header, .media etc here
  @extend %vertical-rhythm;
}

ul, ol, dd {
  padding: 0;
  margin: 0 0 $base-line-height 0;
  margin: 0 0 (($base-line-height / $base-font-size) + rem) (($base-line-height / $base-font-size) + rem) 0;
}

.clearfix,
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}