//----  Typography

%vertical-rhythm {
  padding: 0;
  margin: 0;
  margin-bottom: $base-line-height;
  margin-bottom: ($base-line-height / $base-font-size) + rem;
}

h1 {
  @extend %vertical-rhythm;
  @include font-size($h1-size);
}

h2 {
  @extend %vertical-rhythm;
  @include font-size($h2-size);
}

h3 {
  @extend %vertical-rhythm;
  @include font-size($h3-size);
}

h4 {
  @extend %vertical-rhythm;
  @include font-size($h4-size);
}

h5 {
  @extend %vertical-rhythm;
  @include font-size($h5-size);
}

h6 {
  @extend %vertical-rhythm;
  @include font-size($h6-size);
}